@charset "UTF-8" ;

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55, 135, 255);
}

header{
    color: white;
    text-align: center;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px black;
}

section {
    background: white; 
    padding: 15px;
    width: 70%;
    max-width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.453);
}

section img {
    max-width: 300px;
    padding: 30px;
}

div {
    text-align: center;
    padding: 5px;
}

footer{
    font-style: italic;
    margin-top: 30px;
    font-size: small;
    text-align: center;
    font-weight: bold;
    color: white;
}